<div style="display: flex; background: linear-gradient(violet,darkviolet); margin-top: 50px; border-radius: 10px;">
    <div style="display: inline-block; width: 50vw; height: 80vh; text-align: center; ">
        <h3 style="margin-top: 150px;">Find Your Dream Job Here</h3>
        <div style="margin-top: 50px;">
            <ul class="nav-bar nav me-auto mb-2 mb-lg-0" style="display: flex; justify-content: space-around; align-items: center;">
                <li class="nav-item" ">
                    <a class="btn btn-danger" href="/jobs">I'm a Job Seeker</a>
                </li>
                <li class="nav-item""> 
                    <a class="btn btn-danger" href="/recruiter-login">I'm a Recruiter</a>
                </li>
            </ul>
        </div>
    </div>
       
    <div style="display: flex; justify-content: center; align-items: center; width: 50vw; height: 80vh; ">
        <div>
            <img style="width: 500px; height: 300px; border-radius: 10px;" src="jobify.jpg">
        </div>
    </div>
</div>